<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My VueJs</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app" class='container mt-5'>
        <p>Product Name</p>
        <form @submit.prevent='add'>
            <div class='form-group'>
                <input type='text' v-model='name'placeholder='Put the name of product' class='form-control'>
                <div class="alert alert-danger" v-if=errors.name>{{errors.name}}</div>
            </div>
            <p>Price</p>
            <div class='form-group'>
                <input type='number' v-model.number='price' class='form-control'>
                <div class="alert alert-danger" v-if=errors.price>{{errors.price}}</div>
            </div>
            <div class='form-group' >
                <button type='submit' class='btn btn-primary'>Add</button>
            </div>
            <div class='search'>
                <input class='search_text' type='text' 
                name="Search" v-model='searchText' placeholder="Type to search">
            </div>
            <div v-for= "Name in filteredItems">
                    <span>{{search.items}}</span>
            </div>

        </form>
        
    <div class="spinner-border text-primary" role="status" v-if="loading"> 
                    <span class="sr-only">Loading...</span>      
    </div> 


        <table class='table' v-if="!loading">
            <tr style="background-color: black; color: aliceblue">
                <td>#</td>
                <td>Nama</td>
                <td>Harga</td>
                <td>Action</td>
            </tr>
            <tr v-for="(item, index) in items" :key='item.id'>
                <td>{{ ++index}}</td>
                <td>{{ item.name}}</td>
                <td> Rp {{ item.price }}</td>
                <td>
                    <button
                        @click='remove(item)'
                        class='btn  btn-danger'
                    >&times;</button> 
                    <button
                    @click="edit(item)">Edit</button>
                </td>
                    
            </tr>
            <tr style="background-color: black; color: aliceblue">
                <td></td>
                <td>Total</td>
                <td>Rp {{total}}</td>
                <td></td>
            </tr>

        </table>
       
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            
            el: '#app',
            /*
            async mounted(){
                this.loading = true
                const response = await axios.get('http://cfc40bbc.ngrok.io/api/items')
                this.items = response.data
                this.loading = false
            },

            mounted(){
                axios.get('http://cfc40bbc.ngrok.io/api/items')
                .then(response => {
                    console.log(response.data)
                })
            }
            */
            data() {
                return {
                    search:'',
                    loading: false,
                    errors: {},
                    name: '',
                    price: '',
                    items: [
                    { id: 1, name: 'Apel', price: 15000},
                    { id: 2, name: 'Jeruk', price: 16000},
                    { id: 3, name: 'Pisang', price: 25000},
                    { id: 4, name: 'Terong', price: 5000},
                    { id: 5, name: 'Cube', price: 8100},
                    ]
                }
            },
            computed: {
            tableFilter:function(){
                var self=this;
                return this.items.filter(function(item){
                    return item.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
                }
            },
            computed: {
                total(){
                    return this.items
                    .map(item => Number(item.price))
                    .reduce((prev, current) => prev + current, 0)
                }
            },
            
            methods: {
                add() {
                    this.errors = {};

                    if (this.name.trim() ===''){
                        this.errors.name = 'Nama harus diisi'
                    }

                    if (this.price.trim() <= 0){
                        this.errors.price = 'Harga harus diatas Rp. 1'
                    }
                    if (Object.values(this.errors).length > 0){
                        return
                    }

                    this.items.push({
                        id: Date.now(),
                        name: this.name,
                        price: this.price,

                    })
                this.name =''
                this.price =''
                },
                remove(item){
                    const index = this.items.indexOf(item)
                    this.items.splice(index,1)
                },
            }
        
        })
    </script>
</body>
</html>